{% extends 'base.html' %}
{% load static %}

{% block title %}ピクミン一覧{% endblock title%}

{% block header %}
    <link rel="stylesheet" href="{% static 'pikmin.css' %}">
{% endblock header %}

{% block breadcrumb %}
<li class="breadcrumb-item active">ピクミン一覧</li>
{% endblock breadcrumb %}

{% block content %}

{% include './search_form.html' %}

<div class="row">
    <div class="col-sm-8">
        {% include 'share/paginator.html' %}
    </div>
    {% if user.is_authenticated %}
    <div class="col-sm-2 ml-auto">
        <a class="btn btn-primary" role="button" href="{% url 'pikmins:create' %}">新規登録</a>
        <button type="button" class="btn btn-danger">削除</button>
    </div>
    {% endif %}
</div>
<table class="table table-borderd table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>氏名</th>
            <th>氏名カナ</th>
            <th>年齢</th>
            <th>性別</th>
            <th>作成日時</th>
            <th>更新日時</th>
        </tr>
    </thead>
    {% for pikmin in pikmins %}
    <tbody>
        {% if user.is_authenticated %}
            <tr class="clickable-row" data-href="{% url 'pikmins:update' pikmin.pk %}">
        {% else %}
            <tr>
        {% endif %}
            <td>{{ pikmin.last_name }} {{ pikmin.first_name }}</td>
            <td>{{ pikmin.last_name_kana|default:'-' }} {{ pikmin.first_name_kana|default:'-' }}</td>
            <td>{{ pikmin.calculate_age }} 歳</td>
            <td>{{ pikmin.get_sex_display }}</td>
            <td>{{ pikmin.created_at }}</td>
            <td>{{ pikmin.updated_at }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/pikmins/index.js' %}"></script>
{% endblock script %}