{% extends 'base.html' %}
{% load static %}

{% block title %}ピクミン一覧{% endblock title%}

{% block header %}
    <link rel="stylesheet" href="{% static 'pikmin.css' %}">
{% endblock header %}

{% block breadcrumb %}ピクミン一覧{% endblock breadcrumb %}

{% block content %}

<form method="post">
    <div class="test-from form-row">
        {% csrf_token %}
        <div class="form-group col-md-3">
            <label for="{{ search_form.last_name.auto_id }}">{{ search_form.last_name.label }}:</label>
            {{ search_form.last_name }}
        </div>
        <div class="form-group col-md-3">
            <label for="{{ search_form.first_name.auto_id }}">{{ search_form.first_name.label }}:</label>
            {{ search_form.first_name }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="{{ search_form.last_name_kana.auto_id }}">{{ search_form.last_name_kana.label }}:</label>
            {{ search_form.last_name_kana }}
        </div>
        <div class="form-group col-md-3">
            <label for="{{ search_form.first_name_kana.auto_id }}">{{ search_form.first_name_kana.label }}:</label>
            {{ search_form.first_name_kana }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="{{ search_form.age.auto_id }}">{{ search_form.age.label }}:</label>
            {{ search_form.age }}
        </div>
        <div class="form-group col-md-3">
            <label for="{{ search_form.sex.auto_id }}">{{ search_form.sex.label }}:</label>
            {{ search_form.sex }}
        </div>
        <div class="form-group offset-md-4  col-md-2">
            <input class="btn btn-secondary mr-1" type="submit" id="button" name="button" value="クリア">
            <input class="btn btn-success" type="submit" id="button" name="button" value="検索">
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-8">
        {% include 'share/paginator.html' %}
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary float-sm-right">登録</button>
        <button type="button" class="btn btn-danger float-sm-right">削除</button>
    </div>
</div>
<table class="table table-borderd table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th class="check"><input type="checkbox" name="checkbox-all" id="checkbox-all"></th>
            <th>氏名</th>
            <th>氏名カナ</th>
            <th>年齢</th>
            <th>性別</th>
            <th>作成日時</th>
            <th>更新日時</th>
        </tr>
    </thead>
    {% for pikmin in pikmins %}
    <tbody>
        <tr>
            <td class="check"><input type="checkbox" name="checkbox-row" id="checkbox-row"></td>
            <td>{{ pikmin.first_name }} {{ pikmin.last_name }}</td>
            <td>{{ pikmin.first_name_kana|default:'-' }} {{ pikmin.last_name_kana|default:'-' }}</td>
            <td>{{ pikmin.calculate_age }} 歳</td>
            <td>{{ pikmin.get_sex_display }}</td>
            <td>{{ pikmin.created_at }}</td>
            <td>{{ pikmin.updated_at }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}