{% extends 'base.html' %}
{% load static %}

{% block title %}ピクミン一覧{% endblock title%}

{% block header %}
    <link rel="stylesheet" href="{% static 'pikmin.css' %}">
{% endblock header %}

{% block breadcrumb %}ピクミン一覧{% endblock breadcrumb %}

{% block content %}

{% include './search_form.html' %}

<div class="row">
    <div class="col-sm-8">
        {% include 'share/paginator.html' %}
    </div>
    {% if user.is_authenticated %}
    <div class="col-sm-2 ml-auto">
        <button type="button" class="btn btn-info">登録</button>
        <button type="button" class="btn btn-danger">削除</button>
    </div>
    {% endif %}
</div>
<table class="table table-borderd table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th class="check"><input type="checkbox" name="checkbox-all" id="checkbox-all"></th>
            <th>氏名</th>
            <th>氏名カナ</th>
            <th>年齢</th>
            <th>性別</th>
            <th>作成日時</th>
            <th>更新日時</th>
        </tr>
    </thead>
    {% for pikmin in pikmins %}
    <tbody>
        <tr>
            <td class="check"><input type="checkbox" name="checkbox-row" id="checkbox-row"></td>
            <td>{{ pikmin.last_name }} {{ pikmin.first_name }}</td>
            <td>{{ pikmin.last_name_kana|default:'-' }} {{ pikmin.first_name_kana|default:'-' }}</td>
            <td>{{ pikmin.calculate_age }} 歳</td>
            <td>{{ pikmin.get_sex_display }}</td>
            <td>{{ pikmin.created_at }}</td>
            <td>{{ pikmin.updated_at }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}